body{
    background-color: #111111;
    color: #ddddff;
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
}

#timer_time{
    font-size: 12rem;
    font-weight: bold;
    text-align: center;
    display: flex;
}

#timer_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

button{
    background-color: transparent;
    border: 2px solid #ddddff;
    border-radius: 0.5rem;
    color: #ddddff;
    cursor: pointer;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: 0.618s;
}

button:hover{
    transform: scale(1.1);
}

#timer_buttons_edit{
    width: 20rem;
}

/* bell icon */

#bell{
    position: fixed;
    top: 2rem;
    right: 2rem;
}

#bell_button{
    border: none;
    font-size: 5rem;
    white-space: pre;
}

#bell_button:hover{
    transform: scale(1.2);
}

/* modal */

#editModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.618);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

form{
    background-color: #111111;
    border: 2px solid #ddddff;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 30vw;
}

form label{
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

form input{
    background-color: transparent;
    border: 2px solid #ddddff;
    border-radius: 0.5rem;
    color: #ddddff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    width: calc(100% - 2rem);
}

form button{
    margin-top: 2rem;
}

input[type="checkbox" i] {
    width: auto;
}

#label_light_mode{
    display: inline
}

/* light mode */

.light{
    background-color: #ddddff;
    color: #111111;
}

.light form{
    background-color: #ddddff;
    color: #111111;
    border: 2px solid #111111;
}

.light form input{
    border: 2px solid #111111;
    color: #111111;
}

.light button{
    border: 2px solid #111111;
    color: #111111;
}

